
.item {	margin-bottom: 3em; }
.itemHead {
	font: 200% "Times New Roman", Times, serif;
	color: #FFFFFF;
}
.itemInfo {font-size: 90%;}
.itemPoster, .itemPostDate, .itemStats {}
.itemBody {	padding: .5em 0;}
.itemText {	margin: 0;}

.itemFoot {
	text-align: right;
}

#mainmenu a {
	display: block;
	margin: 0;
	padding: 4px;
	font-weight: bold;
	border-top: 1px solid #000;
	border-bottom: 1px solid #242424;
	font-size: 120%;
	color: #FFF;
}
#mainmenu a:hover {
	color: #F00;
}
#mainmenu a.menuTop, #mainmenu a.menuMain {padding-left: 8px; }
#mainmenu a.menuSub {padding-left: 25px; font-size: 100%;}

#usermenu a {
	display: block;
	margin: 0;
	padding: 2px;
	font-weight: normal;
}
#usermenu a.highlight {
	color: #FFF;
	font-weight: bold;
	background-color: #F00;
}

.outer {}
.head {
	padding: 2px 5px;
	font-weight: bold;
	color: #000;
	background-color: #CCC;
}
.even, tr.even td  {
	padding: 2px 5px;
	background-color: #CCC;
	color: #000;
}
.odd, tr.odd td {
	padding: 2px 5px;
	background-color: #999;
	color: #000;
}
.foot {padding: 2px 5px;	font-weight: bold;	text-align: center;}

#xo-canvas-content th {
	color: #FFF;
	padding: 2px 5px;
	background-color: #F00;
}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}


.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #0053A6; font-weight:bold; border: 1px solid silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #0053A6; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}
